
body {
  margin: auto;
  text-align: center;
}

.header {
  position: absolute;
  top: 8px;
  left: 16px;
}

.container {
  position:relative;
  font-family:'Yellowtail';
  font-size: 42px;
  font-weight:lighter;
  top: 8px;
  left: 16px;
}

.food {
  font-family: 'Delius Unicase';
  font-size: 8px;
  font-weight: bolder;
}

img.header {
  padding-right: 40px;
  position: relative;
  top: 75px;
  right: 50px;
}

.nav {
  position: absolute;
  top: 8px;
  right: 16px;
}

.pizza {

}

h1 {
  font-family: 'Carrois Gothic SC', sans-serif;
}

a {
  text-decoration: none;
}

.line-through {
  text-decoration: line-through;
}

.list1 {
  position: absolute;
  left: 360px;
  text-align: justify;
  font-family: 'Patrick Hand',cursive;
  font-size: 18px;
  font-weight: lighter;
  }

 .list2 {
   position:absolute;
   right: 370px;
   text-align: justify;
   background-image: url("lab-assets/list-bg.png");
   background-repeat:no-repeat;
   background-position:right;
   font-family: 'Patrick Hand',cursive;
   font-size: 18px;
   font-weight: lighter;
   }

ul {
  background-image: url("lab-assets/list-bg.png");
  background-repeat:no-repeat;
  background-position:left;
  padding: 45px;
  list-style-type: none;
}

li {
  padding:10px;
}

.footer {
  position: absolute;
}
